<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="990d4b9b-1568-4f74-bc0e-6cbab0e6f1d8" Alias="about" Level="2">
  <Info>
    <Name>About</Name>
    <Icon>icon-info color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Parent>
    <Compositions>
      <Composition Key="bb5eeaec-0727-42ec-9d44-499f1c43e777">visibilityON</Composition>
      <Composition Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Composition>
    </Compositions>
    <DefaultTemplate>About</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3c5075ad-5b57-422c-ab75-5cafae920dd5">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="001dcde8-0c2b-4e10-87d5-a13c3be7decf" SortOrder="0">education</ContentType>
    <ContentType Key="b9303f3f-c4a8-4e98-a869-809d72ed8083" SortOrder="1">job</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>