<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e25db349-6d25-4148-830b-7cfbd1a0b961" Alias="aboutBlock" Level="2">
  <Info>
    <Name>About Block</Name>
    <Icon>icon-info color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Parent>
    <Compositions>
      <Composition Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>