<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8357d55b-0b87-4cfe-966c-f66ccfc4ae2c" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Parent>
    <Compositions>
      <Composition Key="429d7ec7-ac3a-45ba-ac3c-d5648ac76e8a">visibilityOFF</Composition>
      <Composition Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="321eac4e-955b-4f7d-940c-222856704fd3">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>