<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1140cee1-2dda-4e3d-ad19-94e2a3d5defc" Alias="category" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Objects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="320f32b3-4017-4090-b449-0be6fbbc7d00" SortOrder="0">skill</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>55cdd74a-89ba-482b-a226-eddcdce93e73</Key>
      <Name>Colour</Name>
      <Alias>colour</Alias>
      <Definition>cbadb7df-e966-406e-806b-bc168ede0f91</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>87228b8f-ed2e-477e-a1f0-ba19167a0e7e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>