<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1140cee1-2dda-4e3d-ad19-94e2a3d5defc" Alias="category" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Objects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="320f32b3-4017-4090-b449-0be6fbbc7d00" SortOrder="0">skill</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>