<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2badd079-eb9f-4e33-89d7-911e3db53cdd" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-message color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Parent>
    <Compositions>
      <Composition Key="bb5eeaec-0727-42ec-9d44-499f1c43e777">visibilityON</Composition>
      <Composition Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="494640a2-95cd-467d-a95d-1f092276c139">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce0d6a1e-fee7-4538-ad7a-dd54d0c47f62</Key>
      <Name>CV</Name>
      <Alias>cV</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bdbf56e6-8e72-448e-b5f4-2cf7a0a6a015</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>