<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2d21d02-5cd2-44ee-ab6a-f1af7c28688d" Alias="contactForm" Level="2">
  <Info>
    <Name>Contact Form Block</Name>
    <Icon>icon-message-unopened color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Parent>
    <Compositions>
      <Composition Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>