<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ad1d0e2-6c7c-40ce-a531-373c111983e6" Alias="errorPage" Level="2">
  <Info>
    <Name>Error Page</Name>
    <Icon>icon-block color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Parent>
    <Compositions>
      <Composition Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="81f27dff-1cf5-46c6-84f6-6752d3d34a85">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>