<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77b0eeef-0ed9-46a8-bda1-21f044943fc4" Alias="experienceBlock" Level="2">
  <Info>
    <Name>Experience Block</Name>
    <Icon>icon-graduate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Parent>
    <Compositions>
      <Composition Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7a8ae5d5-0a71-418e-8992-3be3f37ed140</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>433005a8-c062-4ea7-be6c-c28109adc4f6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>131b742c-25e7-4625-9490-a4b808b84dd1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>