<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e516ba9-ab97-4676-bd12-b2ae2a6a22ee" Alias="projects" Level="2">
  <Info>
    <Name>Projects</Name>
    <Icon>icon-file-cabinet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Parent>
    <Compositions>
      <Composition Key="bb5eeaec-0727-42ec-9d44-499f1c43e777">visibilityON</Composition>
      <Composition Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Composition>
    </Compositions>
    <DefaultTemplate>Projects</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="82fc7172-3083-44a0-8fc0-895cceb9e62e">Projects</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f0c49dcc-51c3-4770-b670-acf225124a0f" SortOrder="0">project</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>