<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b05e5fdb-34bb-45ef-baea-5dddeaa6e4ec" Alias="projectsBlock" Level="2">
  <Info>
    <Name>Projects Block</Name>
    <Icon>icon-application-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Parent>
    <Compositions>
      <Composition Key="3dcb1e5b-f6af-49b9-90c7-878f1116e098">contentBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>