<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1bc06ab0-5f5a-4449-9868-d6ae83294d7d" Alias="skills" Level="2">
  <Info>
    <Name>Skills</Name>
    <Icon>icon-pie-chart color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Parent>
    <Compositions>
      <Composition Key="bb5eeaec-0727-42ec-9d44-499f1c43e777">visibilityON</Composition>
      <Composition Key="41d12953-4328-47a8-aaf1-5f0ad5dbd7fa">webPages</Composition>
    </Compositions>
    <DefaultTemplate>Skills</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c98d5b4f-2713-496a-b701-eaee7815578a">Skills</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="320f32b3-4017-4090-b449-0be6fbbc7d00" SortOrder="0">skill</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>