<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6682e412-bfbb-44bd-992f-9931837133e4" Alias="socialList" Level="2">
  <Info>
    <Name>Social List</Name>
    <Icon>icon-thumb-up color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Objects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="286af32c-68fa-4ffa-afcd-cefa3c0e6fc9" SortOrder="0">social</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>