<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bb5eeaec-0727-42ec-9d44-499f1c43e777" Alias="visibilityON" Level="2">
  <Info>
    <Name>Visibility ON</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Structures</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>90a76d18-118c-4601-bce1-e33c206ea614</Key>
      <Name>Show On Footer</Name>
      <Alias>showOnFooter</Alias>
      <Definition>3ac39913-fc63-457b-bfc1-c0539f256a4e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>958d21b6-fcfc-458c-b782-faf83670e57e</Key>
      <Name>Visibility</Name>
      <Alias>visibility</Alias>
      <Definition>3ac39913-fc63-457b-bfc1-c0539f256a4e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>47a2489e-7028-4c1d-bbe3-780d4771e0aa</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>