@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var children = Umbraco.ContentAtRoot().FirstOrDefault().Children.Where(x => x.Value<bool>("visibility") == true);
    var ancestors = Model.Ancestors();
}
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Thomas Grant</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <div id="burger">
                    @for(int i = 0; i < 3; i++)
                    {
                        <div class="bar"></div>
                    }
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    @foreach(var child in children)
                    {
                        var p = "";
                        var active = "";
                        if(ancestors.Contains(child)||(Model == child))
                        {
                            p = "page";
                            active = "active";
                        }
                        <li class="nav-item">
                            <a class="nav-link @active" aria-current="@p" href="@child.Url()">@child.Value("Title")</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>