@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="Block HeroBlock">
	<div id="blob"></div>
	<div id="blur"></div>
	<div class="Breakpoint-Wrap">
		<div class="Text">
			<h1>@Model.Title</h1>
			<p><strong>@Model.Text</strong></p>
		</div>
	</div>
</div
@Html.GetBlockListHtml(Model.Blocks)

@section scripts {
}