@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.BlogBlock)Model.Content;
    var settings = (ContentModels.BlogBlock)Model.Settings;
}

<div class="Block BlogBlock">
    <div class="Breakpoint-Wrap">
        <div class="Text">
            <h2>@content.Header</h2>
            @content.Text
            <div class="BlogContainer">
            </div>
        </div>
    </div>
</div>