@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.ContactForm)Model.Content;
    var settings = (ContentModels.ContactForm)Model.Settings;
}
<div class="Block SplitColumn">

</div>
