@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.ProjectsBlock)Model.Content;
    var settings = (ContentModels.ProjectsBlock)Model.Settings;
}

<div class="Block ProjectsBlock">

</div>