<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61b948a5-937a-4e09-a34b-657e2db20086" Alias="Developer Mode" Level="1">
  <Info>
    <Name>Developer Mode</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "Developer Mode is OFF",
  "LabelOn": "Developer Mode is ON",
  "ShowLabels": true
}]]></Config>
</DataType>