<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2fb60cd-5047-406e-80bb-b8e568e96255" Alias="Master - Findable - Toggle" Level="1">
  <Info>
    <Name>Master - Findable - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Website is not searchable",
  "LabelOn": "Website is searchable",
  "ShowLabels": false
}]]></Config>
</DataType>