<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b673ac4-038e-4528-8de1-758fb4f10233" Alias="Show Navbar" Level="1">
  <Info>
    <Name>Show Navbar</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "The navbar is hidden on this page",
  "LabelOn": "The navbar is being shown on this page",
  "ShowLabels": true
}]]></Config>
</DataType>