<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ac39913-fc63-457b-bfc1-c0539f256a4e" Alias="Visibility - Toggle" Level="1">
  <Info>
    <Name>Visibility - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "This page is hidden on the Nav",
  "LabelOn": "This page is visible on the Nav",
  "ShowLabels": true
}]]></Config>
</DataType>