<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81ba19dd-d293-4ee1-876f-6db7de17a008" Alias="Visibility OFF - Toggle" Level="1">
  <Info>
    <Name>Visibility OFF - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "The page is not shown on the navigation",
  "LabelOn": "The page is shown on the navigation",
  "ShowLabels": true
}]]></Config>
</DataType>