<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a51b942-df81-4f29-bd5f-0a58283e1c95" Alias="Web Pages - Show On Footer - Toggle" Level="1">
  <Info>
    <Name>Web Pages - Show On Footer - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>