@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --nav-height: 100px;
}
/* #region Header*/
header, footer, .NavFooter {
    background-color: var(--seco-Color);
}

body {
    margin-top: var(--nav-height);
}

.navbar {
    --bs-navbar-hover-color: var(--white);
    --bs-navbar-active-color: var(--black);
    --bs-navbar-brand-hover-color: var(--black);
}


header .navbar-brand, .NavFooter .Logo {
    font-family: 'Jost', sans-serif;
    --bs-navbar-brand-color: var(--white);
    font-weight: 800;
    font-size: 2.5rem;
}

header .nav-link {
    --bs-nav-link-color: var(--white);
}

header {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    min-height: 100px;
}

.NavFooter a {
    color: var(--white);
    text-decoration: none;
}

.NavFooter a:hover {
    color: var(--white);
}

.NavFooter p {
    color: var(--white);
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.NavFooter a{
    width: fit-content;
    display: block;
}

header .nav-item {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}
/* #endregion */
/* #region Hover*/

.nav-item .nav-link.active {
    font-weight: 900;

}

.nav-item{
    display: inline-block;
    position: relative;
}

.NavFooter a {
    position: relative;
}

.nav-item::after, .NavFooter a p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    z-index: 10;
}

.nav-item:hover::after, .NavFooter a p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* #endregion*/
/* #region Burger */

#burger {
    --size: calc(var(--nav-height)/3);
    --bar-height: 4px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: auto;
    
    width: 40px;
    height: var(--size);
    
    z-index:2;
}

#burger .bar {
    display: inline-block;
    
    height: var(--bar-height);
    width: 100%;
    
    background-color: white;
    
    transition: transform 250ms ease-out;
    border-radius: 5px;
    
}

[aria-expanded="true"] #burger > .bar:nth-child(1){
    transform:
        translate(0, calc(var(--size) /2 - var(--bar-height) / 2)) rotate(225deg);
}

[aria-expanded="true"] #burger > .bar:nth-child(2) {
    transform: scaleX(0);
}

[aria-expanded="true"] #burger > .bar:nth-child(3) {
    transform: translate(0, calc(-1 * var(--size) / 2 + var(--bar-height) / 2)) rotate(135deg);
}

.Logo a, .navbar-brand {
    font-size: 2rem;
}
/* #endregion*/

/* #region Desktop */
@media(min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }

    .navbar-nav {
        gap: 20px;
        
    }


    .navbar {
        width: 100%;
    }
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: var(--nav-height);
        z-index: 100;
        display: flex;
        align-items: center;
    }

    body {
        margin-top: var(--nav-height);
    }
}

/* #endregion*/
        