@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --prim-Color: #372549;
    --seco-Color: #FE5F55;
    --tert-Color: #65AFFF;
    --body-Color: #F7F7FF;
    --white: #F5F5F5;
}

body {
    background-color: var(--body-Color);
    background-image: url(/images/paper_texture.png);
    background-size: 200px;
}

a {
    --bs-link-hover-color-rgb: var(--seco-Color);
}

h1, h2 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: bold;
    color: var(--prim-Color);
}

h1 {
    font-size: 2.5rem;
    
}

h2 {
    font-size: 2rem;
}

p {
    font-weight: 500;
}

/* #region 320*/
.Breakpoint-Wrap {
    padding: 0 15px;
}
/* #region Blocks */
/* #region Block*/
.Block {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
}

.Breakpoint-Wrap {
    position: relative;
    z-index: 2;
}

.Block:nth-child(even):not(.HeroBlock):not(.NavFooter) {
    background-color: #253D5B;
    color: white;
}

.Block:nth-child(even):not(.HeroBlock):not(.NavFooter) * {
    color: white;
}

.Block:nth-child(odd):not(.HeroBlock):not(.NavFooter) {
    color: var(--prim-Color);
}


.Block .Breakpoint-Wrap {
    display: grid;
    grid-gap: 20px;
}

.CTA {
    padding: 14px 20px;
    background-color: var(--seco-Color);
    border-radius: 10px;
    width: fit-content;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: bold;
    color: white;
    transition: all 0.2s ease;
}

.Block:not(.AboutBlock) .Text{
    width: 100%;
    text-align: center;
}

.Block.HeroBlock .Text {
    text-align: unset;
}

a:has(.CTA) {
    text-decoration: none;
}

.CTA:hover {
    background-color: var(--tert-Color);
    color: white;
}
/* #endregion*/

/* #region Hero */
@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--tert-Color), var(--seco-Color));
    animation: rotate 20s infinite;
    opacity: 0.8;
    filter: blur(12vmax);
}

.HeroBlock {
    box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.5), inset 0px -10px 10px -5px rgba(0, 0, 0, 0.5);
}

.HeroBlock.Home {
    padding: 60px 0;
}
/* #endregion */

/* #region About Block */

.AboutBlock .Image {
    aspect-ratio: 1/1;
}


/* #endregion*/

/* #endregion*/

/* #endregion*/

/* #region 768*/
@media (min-width: 768px) {
    .Breakpoint-Wrap {
        padding: 0 40px;
    }
    /* #region Blocks */
    /* #region Block*/
    .Block {
    }

    .HeroBlock.Home .Text {
        max-width: 50%;
    }

    .AboutBlock:nth-child(even) .Image, .AboutBlock:nth-child(odd) .Text {
        max-width: 550px;
        margin-right: auto;
    }

    .AboutBlock:nth-child(odd) .Image, .AboutBlock:nth-child(even) .Text {
        max-width: 550px;
        margin-left: auto;
    }

    .AboutBlock .Image {
        width: 550px;
    }
    /* #endregion*/

    /* #endregion*/

    /* #endregion*/

}

/* #region 1110*/

@media (min-width: 1170px) {
    .Breakpoint-Wrap {
        padding: unset;
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
    }
    /* #region Blocks */
    /* #region Block*/
    .Block {
        padding: 60px 0;
    }

    .AboutBlock .Breakpoint-Wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    
    /* #endregion*/

    /* #region Hero Block */

    .HeroBlock .Breakpoint-Wrap{
        justify-content: left;
    }

    .HeroBlock.Home {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .HeroBlock .Text {
        max-width: 50%;
    }

    /* #endregion */

    /* #region About Block */

    .AboutBlock .Image{
        width: 550px;
    }

    .AboutBlock .Text, .AboutBlock .Image {
        max-width: 550px;
    }

    /* #endregion */

    /* #region Footer*/
    .NavFooter .Breakpoint-Wrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: unset;
    }
    /* #endregion */
    /* #endregion*/

    /* #endregion*/
}


/* #region 1410*/
@media (min-width: 1470px) {
    .Breakpoint-Wrap {
        max-width: 1410px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    /* #region Blocks */
    /* #region Block*/
    .Block {
        padding: 60px 0;
    }
    /* #endregion*/
    /* #endregion*/

    /* #endregion*/

}
