<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cd41b73-cf41-4029-b442-67c778a5a87a" Alias="Adobe Creative Cloud Svgrepo Com" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/AdobeCreativeCloudSvgrepoCom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-12T12:45:16</CreateDate>
    <NodeName Default="Adobe Creative Cloud Svgrepo Com" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iinnidcb/adobe-creative-cloud-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>