<?xml version="1.0" encoding="utf-8"?>
<Media Key="3739de1f-dd17-47ff-b398-579c6373ea6e" Alias="Angular" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Angular</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-12T12:40:11</CreateDate>
    <NodeName Default="Angular" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1pdsnyx/angular.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>