<?xml version="1.0" encoding="utf-8"?>
<Media Key="92c72922-436b-4246-add3-43c7a6c77fb5" Alias="Aspnet Svgrepo Com" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/AspnetSvgrepoCom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T14:00:53</CreateDate>
    <NodeName Default="Aspnet Svgrepo Com" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cmunpetl/aspnet-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>