<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b58465c-7ddb-4486-bf89-cc8e0008c2dd" Alias="Bootstrap" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Bootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:59:33</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nvdfq041/bootstrap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>