<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc53fb62-5d85-4818-a480-2684647d60b6" Alias="Code Slash" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/CodeSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-12T12:39:08</CreateDate>
    <NodeName Default="Code Slash" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kp3fhpef/code-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>