<?xml version="1.0" encoding="utf-8"?>
<Media Key="76d6086f-6020-442f-ad94-501558a464a7" Alias="Css3" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Css3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:46:55</CreateDate>
    <NodeName Default="Css3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lyenm3ra/css3-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>