<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d6426a7-7f43-49d6-afba-17d80698f58d" Alias="Css3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Css3</Path>
    <Trashed Parent="a7403fa6-641b-4a4f-b673-931d49763b8d">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:46:17</CreateDate>
    <NodeName Default="Css3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sytgipkd/css3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>