<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1600acd-d925-4351-a412-b8ea6c7e2182" Alias="Database Solid" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/DatabaseSolid</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:54:39</CreateDate>
    <NodeName Default="Database Solid" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5qfgbijf/database-solid.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>