<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b837ec5-f461-4bd7-aab2-bc79f16b8950" Alias="Git Alt" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/GitAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:59:06</CreateDate>
    <NodeName Default="Git Alt" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4r5igg1b/git-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>