<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d170991-39de-4cd5-a58d-1569ed73cba5" Alias="Html5" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Html5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:49:34</CreateDate>
    <NodeName Default="Html5" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uaebodo4/html5-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>