<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5527872-12fb-4598-a19d-82f8097fd45f" Alias="Html5" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Html5</Path>
    <Trashed Parent="a7403fa6-641b-4a4f-b673-931d49763b8d">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:46:17</CreateDate>
    <NodeName Default="Html5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/in2ffrp1/html5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>