<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1559a74-57b1-4320-832e-a2a789dc23f0" Alias="Java" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Java</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-12T12:44:04</CreateDate>
    <NodeName Default="Java" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iwnflmnr/java.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>