<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cc8c79d-5675-45e5-9252-9fd69bc879b6" Alias="Jquery" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Jquery</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T14:04:11</CreateDate>
    <NodeName Default="Jquery" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vtdnqxdv/jquery.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>