<?xml version="1.0" encoding="utf-8"?>
<Media Key="f66ab076-d4ed-45b7-a3e5-b149c4029852" Alias="Js" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Js</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:58:10</CreateDate>
    <NodeName Default="Js" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i4ygv3xn/js.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>