<?xml version="1.0" encoding="utf-8"?>
<Media Key="74d4ab47-468a-4ac8-978e-016ae39be505" Alias="Linkedin" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-05T22:46:50</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o0vni3ek/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>