<?xml version="1.0" encoding="utf-8"?>
<Media Key="03f4fe49-ecd3-4335-89fa-c0b0d9a92ccf" Alias="Link 45Deg" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/Link45Deg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-05T22:46:48</CreateDate>
    <NodeName Default="Link 45Deg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pd5pia4t/link-45deg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>