<?xml version="1.0" encoding="utf-8"?>
<Media Key="79a89b6b-62d2-492c-9882-ba4486f91268" Alias="Moi (1) (1)" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/Moi11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T17:42:43</CreateDate>
    <NodeName Default="Moi (1) (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nwnlq4os/moi-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>