<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4b4ba1c-9509-4c00-9182-db6c2ebec686" Alias="Nopcommerce Logo" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/NopcommerceLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T14:02:47</CreateDate>
    <NodeName Default="Nopcommerce Logo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fw3ljzaj/nopcommerce_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>