<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2edfb83-d3d2-40ca-8d6f-5faaaadf0a0b" Alias="Output Onlinepngtools (1)" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/OutputOnlinepngtools1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T17:44:28</CreateDate>
    <NodeName Default="Output Onlinepngtools (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qx3p1qws/output-onlinepngtools-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>