<?xml version="1.0" encoding="utf-8"?>
<Media Key="7783e6da-4375-4575-930a-fc619aaa039a" Alias="Sass" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Sass</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T14:01:19</CreateDate>
    <NodeName Default="Sass" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ptig31v/sass.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>