<?xml version="1.0" encoding="utf-8"?>
<Media Key="139877f7-029a-49a4-bea3-f191b1def589" Alias="Skill Icons" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/SkillIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-08T13:53:44</CreateDate>
    <NodeName Default="Skill Icons" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>