<?xml version="1.0" encoding="utf-8"?>
<Media Key="054a6105-67fd-4964-8823-75031d0dae64" Alias="Twitter" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-05T22:46:51</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grqfubp3/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>