<?xml version="1.0" encoding="utf-8"?>
<Media Key="093ba00f-6cc9-4b8e-b56d-c2d32fd3801b" Alias="Umbraco" Level="3">
  <Info>
    <Parent Key="139877f7-029a-49a4-bea3-f191b1def589">Skill Icons</Parent>
    <Path>/Icons/SkillIcons/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T13:53:58</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h0qdwcoj/umbraco.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>