<?xml version="1.0" encoding="utf-8"?>
<Media Key="c17bc2e4-8591-4620-b70d-baf2beb32fa1" Alias="Whatsapp" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/Whatsapp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-05T22:46:50</CreateDate>
    <NodeName Default="Whatsapp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xbhxqmr/whatsapp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>