<?xml version="1.0" encoding="utf-8"?>
<Media Key="713b0335-d7b6-469a-842f-a24fa5e4af97" Alias="Youtube" Level="2">
  <Info>
    <Parent Key="a7403fa6-641b-4a4f-b673-931d49763b8d">Icons</Parent>
    <Path>/Icons/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-05T22:46:52</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aqbdw2nw/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>