<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f996da9-77ba-4b7f-a118-6e0279d412aa" Alias="About" Level="2">
  <Info>
    <Parent Key="39877ca4-847d-4194-8d2a-abe55cbe95d0">Thomas Grant</Parent>
    <Path>/ThomasGrant/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2023-03-09T16:17:49</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c5075ad-5b57-422c-ab75-5cafae920dd5">About</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9a0c44bb35e642d482d57aa828acf8de"
      },
      {
        "contentUdi": "umb://element/9f87fe3d1096406fb65965783eefe628"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e25db349-6d25-4148-830b-7cfbd1a0b961",
      "udi": "umb://element/9a0c44bb35e642d482d57aa828acf8de",
      "image": "[]",
      "link": null,
      "header": "Lorem Ipsum",
      "text": "<p>Delor sit amet</p>"
    },
    {
      "contentTypeKey": "77b0eeef-0ed9-46a8-bda1-21f044943fc4",
      "udi": "umb://element/9f87fe3d1096406fb65965783eefe628",
      "blocks": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/b79f0ab05d4a4b94b548527024d8221e\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"001dcde8-0c2b-4e10-87d5-a13c3be7decf\",\r\n      \"udi\": \"umb://element/b79f0ab05d4a4b94b548527024d8221e\",\r\n      \"startDate\": \"2018-09-14T00:00:00\",\r\n      \"endDate\": \"2021-04-16T00:00:00\",\r\n      \"institute\": \"University of York\",\r\n      \"awardDescription\": \"Bachelors of Science Interactive Media 2:1\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "link": null,
      "text": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <navbarIsShown>
      <Value><![CDATA[1]]></Value>
    </navbarIsShown>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showOnFooter>
      <Value><![CDATA[1]]></Value>
    </showOnFooter>
    <Text>
      <Value><![CDATA[Taking a logical mindset and mashing it with creativity, I've become a professional problem solver.
]]></Value>
    </Text>
    <title>
      <Value><![CDATA[About Me]]></Value>
    </title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>