<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f996da9-77ba-4b7f-a118-6e0279d412aa" Alias="About" Level="2">
  <Info>
    <Parent Key="39877ca4-847d-4194-8d2a-abe55cbe95d0">Thomas Grant</Parent>
    <Path>/ThomasGrant/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2023-03-09T16:17:49</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c5075ad-5b57-422c-ab75-5cafae920dd5">About</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <navbarIsShown>
      <Value><![CDATA[1]]></Value>
    </navbarIsShown>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showOnFooter>
      <Value><![CDATA[1]]></Value>
    </showOnFooter>
    <Text>
      <Value><![CDATA[]]></Value>
    </Text>
    <title>
      <Value><![CDATA[About Me]]></Value>
    </title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>