<?xml version="1.0" encoding="utf-8"?>
<Content Key="d16acaa4-3d3b-4d4d-84ce-9825a4e547b6" Alias="Adaptability" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Adaptability</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:47:35</CreateDate>
    <NodeName Default="Adaptability" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Adaptability]]></Value>
    </title>
  </Properties>
</Content>