<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7aa2a9d-8484-4169-9770-0c0666571060" Alias="Adobe Creative Cloud" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/AdobeCreativeCloud</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:59:58</CreateDate>
    <NodeName Default="Adobe Creative Cloud" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#ff0000]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Collaborated with designers to bring ideas to life, taking ownership from idea generation to delivering fully-fledged products to clients using various Adobe Creative Cloud tools.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "f6908a85-5983-46fb-b643-f47883248b04",
    "mediaKey": "0cd41b73-cf41-4029-b442-67c778a5a87a"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Adobe Creative Cloud]]></Value>
    </title>
  </Properties>
</Content>