<?xml version="1.0" encoding="utf-8"?>
<Content Key="308087ed-ddc5-40e3-86f2-c7dd4a68cc94" Alias="Angular" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Angular</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-15T20:27:00</CreateDate>
    <NodeName Default="Angular" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#dd1b16]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized Angular to enhance the backoffice of Umbraco websites, improving the overall user experience and making content management more efficient.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "47051e7a-0c8b-4dd5-97ff-01fd46d3420d",
    "mediaKey": "3739de1f-dd17-47ff-b398-579c6373ea6e"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Angular]]></Value>
    </title>
  </Properties>
</Content>