<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9bdbd7b-0541-42f6-8eea-202cedfbd1e1" Alias="Angular" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Angular</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:58:46</CreateDate>
    <NodeName Default="Angular" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#dd1b16]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized Angular to enhance the backoffice of Umbraco websites, improving the overall user experience and making content management more efficient.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "22b96069-4744-4363-b721-998092c6ff95",
    "mediaKey": "3739de1f-dd17-47ff-b398-579c6373ea6e"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Angular]]></Value>
    </title>
  </Properties>
</Content>