<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ebffb53-85e2-4878-9f84-78e909fcb083" Alias="API Development and Integration" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/APIDevelopmentAndIntegration</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:44:08</CreateDate>
    <NodeName Default="API Development and Integration" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[API Development and Integration]]></Value>
    </title>
  </Properties>
</Content>