<?xml version="1.0" encoding="utf-8"?>
<Content Key="0687c7b4-d8fd-4d67-85f4-f9aeed98b380" Alias="ASP.NET" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/ASPNET</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:54:29</CreateDate>
    <NodeName Default="ASP.NET" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#00a4ef]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized ASP.NET to deliver bespoke web applications, utilizing its powerful features for efficient and customized development.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "1cda69cb-b4c2-4072-970c-07cf69925175",
    "mediaKey": "92c72922-436b-4246-add3-43c7a6c77fb5"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[ASP.NET]]></Value>
    </title>
  </Properties>
</Content>