<?xml version="1.0" encoding="utf-8"?>
<Content Key="2025ea36-8244-4b50-8e3f-1175c1827df3" Alias="Blog" Level="2">
  <Info>
    <Parent Key="39877ca4-847d-4194-8d2a-abe55cbe95d0">Thomas Grant</Parent>
    <Path>/ThomasGrant/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-03-09T16:18:26</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a8de224c-86ab-4b05-8a20-7f3e93f03a65">Blog</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <navbarIsShown>
      <Value><![CDATA[1]]></Value>
    </navbarIsShown>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showOnFooter>
      <Value><![CDATA[1]]></Value>
    </showOnFooter>
    <Text>
      <Value><![CDATA[]]></Value>
    </Text>
    <title>
      <Value><![CDATA[Blog]]></Value>
    </title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>