<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f291360-c143-401b-8608-00e96c3e5d98" Alias="Bootstrap" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Bootstrap</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-12T13:01:41</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#8fce00]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[Utilized Bootstrap in conjunction with CSS to efficiently develop highly dynamic websites, ensuring consistent and responsive design across different devices.

]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "2fcf5800-4828-4185-b3ee-0fbe0c19056e",
    "mediaKey": "6b58465c-7ddb-4486-bf89-cc8e0008c2dd"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Bootstrap]]></Value>
    </title>
  </Properties>
</Content>