<?xml version="1.0" encoding="utf-8"?>
<Content Key="21523dd0-abd2-4d10-8570-530670e2c4ea" Alias="Bootstrap" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Bootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:53:32</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#563d7c]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized Bootstrap in conjunction with CSS to efficiently develop highly dynamic websites, ensuring consistent and responsive design across different devices.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "a29cffbd-6843-4582-bc21-fc61e17c360b",
    "mediaKey": "6b58465c-7ddb-4486-bf89-cc8e0008c2dd"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Bootstrap]]></Value>
    </title>
  </Properties>
</Content>