<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7299931-a09b-40ae-b6ce-1ddb7e07905e" Alias="Categories" Level="2">
  <Info>
    <Parent Key="39877ca4-847d-4194-8d2a-abe55cbe95d0">Thomas Grant</Parent>
    <Path>/ThomasGrant/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>projectCategory</ContentType>
    <CreateDate>2023-06-06T16:51:38</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>