<?xml version="1.0" encoding="utf-8"?>
<Content Key="9079135d-0be9-4fd0-81d4-5db59929b378" Alias="CMS Development" Level="3">
  <Info>
    <Parent Key="c7299931-a09b-40ae-b6ce-1ddb7e07905e">Categories</Parent>
    <Path>/ThomasGrant/Categories/CMSDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-06-06T17:02:28</CreateDate>
    <NodeName Default="CMS Development" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <colour>
      <Value><![CDATA[]]></Value>
    </colour>
  </Properties>
</Content>