<?xml version="1.0" encoding="utf-8"?>
<Content Key="2717cee6-4859-4784-a7c6-3f970e9c010d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="39877ca4-847d-4194-8d2a-abe55cbe95d0">Thomas Grant</Parent>
    <Path>/ThomasGrant/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-03-09T16:18:42</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="494640a2-95cd-467d-a95d-1f092276c139">Contact</Template>
  </Info>
  <Properties>
    <cV>
      <Value><![CDATA[]]></Value>
    </cV>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <navbarIsShown>
      <Value><![CDATA[1]]></Value>
    </navbarIsShown>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showOnFooter>
      <Value><![CDATA[1]]></Value>
    </showOnFooter>
    <Text>
      <Value><![CDATA[]]></Value>
    </Text>
    <title>
      <Value><![CDATA[Get in Touch]]></Value>
    </title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>