<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8a15b53-e094-43b8-8ee2-34cbaf4344d2" Alias="Cross-Browser Compatibility" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CrossBrowserCompatibility</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:42:09</CreateDate>
    <NodeName Default="Cross-Browser Compatibility" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Cross-Browser Compatibility]]></Value>
    </title>
  </Properties>
</Content>