<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ef68e6f-a305-45d8-8f3e-cb0cdb1a2dfc" Alias="CSS3" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/CSS3</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:43:30</CreateDate>
    <NodeName Default="CSS3" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#264de4]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Developed websites throughout my career, utilizing CSS3 to style and enhance the appearance of web pages, ensuring visually appealing and responsive designs.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "3aa2894e-33d9-4180-9134-c0a4a20d83e7",
    "mediaKey": "76d6086f-6020-442f-ad94-501558a464a7"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[CSS3]]></Value>
    </title>
  </Properties>
</Content>