<?xml version="1.0" encoding="utf-8"?>
<Content Key="316ea8ed-a89a-4f78-863b-da9f47a78d70" Alias="Database Management" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/DatabaseManagement</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:40:38</CreateDate>
    <NodeName Default="Database Management" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Database Management]]></Value>
    </title>
  </Properties>
</Content>