<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bce1a26-f208-40e4-a572-1ff8d91b35ce" Alias="Development" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Development</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-03-09T16:21:05</CreateDate>
    <NodeName Default="Development" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>