<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bce1a26-f208-40e4-a572-1ff8d91b35ce" Alias="Development" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Development</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-03-09T16:21:05</CreateDate>
    <NodeName Default="Development" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <colour>
      <Value><![CDATA[]]></Value>
    </colour>
  </Properties>
</Content>