<?xml version="1.0" encoding="utf-8"?>
<Content Key="4395b2ed-9d82-4dc1-9dc1-d3a7f137c64b" Alias="E-Commerce" Level="3">
  <Info>
    <Parent Key="c7299931-a09b-40ae-b6ce-1ddb7e07905e">Categories</Parent>
    <Path>/ThomasGrant/Categories/ECommerce</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-06-06T16:55:20</CreateDate>
    <NodeName Default="E-Commerce" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <colour>
      <Value><![CDATA[]]></Value>
    </colour>
  </Properties>
</Content>