<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c88ecd0-217c-49ed-a4b0-5c2ad72992f6" Alias="E-commerce Development with nopCommerce" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ECommerceDevelopmentWithNopCommerce</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:43:51</CreateDate>
    <NodeName Default="E-commerce Development with nopCommerce" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[E-commerce Development with nopCommerce]]></Value>
    </title>
  </Properties>
</Content>