<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ada6c99-d809-493e-b009-a923003c6438" Alias="Front End Development (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FrontEndDevelopment1</Path>
    <Trashed Parent="c7299931-a09b-40ae-b6ce-1ddb7e07905e">true</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-06-06T16:52:55</CreateDate>
    <NodeName Default="Front End Development (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>