<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d364333-ca2d-4554-b155-8a3e264f01a3" Alias="Front End Development" Level="3">
  <Info>
    <Parent Key="c7299931-a09b-40ae-b6ce-1ddb7e07905e">Categories</Parent>
    <Path>/ThomasGrant/Categories/FrontEndDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-06-06T16:52:53</CreateDate>
    <NodeName Default="Front End Development" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <colour>
      <Value><![CDATA[]]></Value>
    </colour>
  </Properties>
</Content>