<?xml version="1.0" encoding="utf-8"?>
<Content Key="c45d5b58-d5a1-4ea0-821f-a347931a88a1" Alias="Git" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Git</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-12T13:01:18</CreateDate>
    <NodeName Default="Git" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#b4a7d6]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[Successfully implemented version control practices, maintaining effective code management and collaboration within my role.]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "66d5cab0-3a4c-41ee-998d-476e8b105540",
    "mediaKey": "1b837ec5-f461-4bd7-aab2-bc79f16b8950"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Git]]></Value>
    </title>
  </Properties>
</Content>