<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa7cd8bf-ca9f-43e4-8b31-42495b5c6042" Alias="Git" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Git</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:52:17</CreateDate>
    <NodeName Default="Git" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#f1502f]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Successfully implemented version control practices, maintaining effective code management and collaboration within my role.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "f2b163f3-33d7-4662-bb7c-35a5b41791ee",
    "mediaKey": "1b837ec5-f461-4bd7-aab2-bc79f16b8950"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Git]]></Value>
    </title>
  </Properties>
</Content>