<?xml version="1.0" encoding="utf-8"?>
<Content Key="46eee2f4-ff67-4a5b-86fd-e25883e855e6" Alias="Home" Level="2">
  <Info>
    <Parent Key="39877ca4-847d-4194-8d2a-abe55cbe95d0">Thomas Grant</Parent>
    <Path>/ThomasGrant/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-03-09T16:17:33</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a7977b9b-08a5-4ed2-9bc2-b27d835ed1bf">Home</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/42d2831a54374778888823b7be1bd0ae"
      },
      {
        "contentUdi": "umb://element/9872ac3b5d7841ff95e900192be092bf"
      },
      {
        "contentUdi": "umb://element/e323d4efd5234735bca7179ffd91ebc6"
      },
      {
        "contentUdi": "umb://element/c3b06e7678464926afa203fc81809e62"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e25db349-6d25-4148-830b-7cfbd1a0b961",
      "udi": "umb://element/42d2831a54374778888823b7be1bd0ae",
      "header": "About Me",
      "text": "<p>A South Yorkshire based Web Developer with a love for D&amp;D, table top games and puzzle solving.</p>\n<p>Adopting methodologies that blend creative and innovative thinking with problem solving to deliver high quality and complex websites and web applications.</p>",
      "image": "[]",
      "link": "umb://document/9f996da977ba4b7fa1186e0279d412aa"
    },
    {
      "contentTypeKey": "5c7536e2-59f0-4a98-8518-acdeaa3f6dc2",
      "udi": "umb://element/9872ac3b5d7841ff95e900192be092bf",
      "header": "Skills",
      "text": ""
    },
    {
      "contentTypeKey": "0e12d4e9-61a0-4c53-bc22-4fbb3556e065",
      "udi": "umb://element/e323d4efd5234735bca7179ffd91ebc6",
      "header": "Blog",
      "text": ""
    },
    {
      "contentTypeKey": "b2d21d02-5cd2-44ee-ab6a-f1af7c28688d",
      "udi": "umb://element/c3b06e7678464926afa203fc81809e62",
      "header": "Get in Touch",
      "text": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <navbarIsShown>
      <Value><![CDATA[1]]></Value>
    </navbarIsShown>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showOnFooter>
      <Value><![CDATA[1]]></Value>
    </showOnFooter>
    <Text>
      <Value><![CDATA[Creative Front End Developer based in Doncaster enjoying shaping Visions into Digital Reality]]></Value>
    </Text>
    <title>
      <Value><![CDATA[Thomas Grant]]></Value>
    </title>
    <visibility>
      <Value><![CDATA[0]]></Value>
    </visibility>
  </Properties>
</Content>