<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7bbc15e-81cd-4155-b782-27cd5cd8b212" Alias="HTML5" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/HTML5</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-15T20:31:15</CreateDate>
    <NodeName Default="HTML5" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#e34c26]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Delivered several websites with efficient and bespoke structures, making use of frameworks to increase efficiency</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "555bfc7c-dd16-4fbe-af12-766016b03989",
    "mediaKey": "0d170991-39de-4cd5-a58d-1569ed73cba5"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[HTML5]]></Value>
    </title>
  </Properties>
</Content>