<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c5bf2d5-3ef2-4117-b02c-ebb01c9f235d" Alias="HTML5" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/HTML5</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:37:20</CreateDate>
    <NodeName Default="HTML5" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#e34c26]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[Developed websites throughout my career, utilizing HTML5 to create the structure and content of web pages, ensuring semantic markup and accessibility.]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "99899b98-e096-42ad-84fc-54f58e5f6330",
    "mediaKey": "0d170991-39de-4cd5-a58d-1569ed73cba5"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[HTML5]]></Value>
    </title>
  </Properties>
</Content>