<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9100e3d-b384-43f6-9deb-7435a6d0dc46" Alias="JavaScript" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/JavaScript</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-12T13:00:56</CreateDate>
    <NodeName Default="JavaScript" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#f9cb9c]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[Implemented JavaScript to deliver responsive websites and enhance the user experience, making websites more interactive and user-friendly.]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "8066d60d-9bb9-42d2-8fef-02ed0e70ad4c",
    "mediaKey": "f66ab076-d4ed-45b7-a3e5-b149c4029852"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[JavaScript]]></Value>
    </title>
  </Properties>
</Content>