<?xml version="1.0" encoding="utf-8"?>
<Content Key="d491ce12-a611-437a-b236-bf412e242d05" Alias="JavaScript" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/JavaScript</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:50:38</CreateDate>
    <NodeName Default="JavaScript" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#f0db4f]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Implemented JavaScript to deliver responsive websites and enhance the user experience, making websites more interactive and user-friendly.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "4d692d4d-5adb-4d87-a32e-ca99cf1aa34e",
    "mediaKey": "f66ab076-d4ed-45b7-a3e5-b149c4029852"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[JavaScript]]></Value>
    </title>
  </Properties>
</Content>