<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f3829a9-9b04-408f-b1f7-1674ecb80d04" Alias="Java Programming" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JavaProgramming</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:44:49</CreateDate>
    <NodeName Default="Java Programming" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Java Programming]]></Value>
    </title>
  </Properties>
</Content>