<?xml version="1.0" encoding="utf-8"?>
<Content Key="74bae408-d14c-47ef-a27d-869c10bdd0a4" Alias="JavaScript and API Integration" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JavaScriptAndAPIIntegration</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:39:50</CreateDate>
    <NodeName Default="JavaScript and API Integration" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[JavaScript and API Integration]]></Value>
    </title>
  </Properties>
</Content>