<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ccc14ae-f43e-40b6-aa61-a5ff3bdde7f4" Alias="jQuery" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/jQuery</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-15T20:25:56</CreateDate>
    <NodeName Default="jQuery" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#7acef4]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized jQuery to streamline JavaScript code and enhance functionality, improving the efficiency and interactivity of websites.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "06f67ab1-2d05-45e3-8c6d-3e0e754a1388",
    "mediaKey": "5cc8c79d-5675-45e5-9252-9fd69bc879b6"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[jQuery]]></Value>
    </title>
  </Properties>
</Content>