<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2fdd895-e36f-4f4f-9bd0-6ad7a2039e29" Alias="jQuery" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/jQuery</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:57:46</CreateDate>
    <NodeName Default="jQuery" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#7acef4]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized jQuery to streamline JavaScript code and enhance functionality, improving the efficiency and interactivity of websites.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "62dd17d4-d6b1-4a51-9b26-bd48cb157c1e",
    "mediaKey": "5cc8c79d-5675-45e5-9252-9fd69bc879b6"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[jQuery]]></Value>
    </title>
  </Properties>
</Content>