<?xml version="1.0" encoding="utf-8"?>
<Content Key="dce16f54-5eeb-4bf4-a59e-527a764324c9" Alias="LinkedIn" Level="3">
  <Info>
    <Parent Key="e8e83795-ae8b-4a9e-bef9-3a898b9fb668">Socials</Parent>
    <Path>/ThomasGrant/Socials/LinkedIn</Path>
    <Trashed>false</Trashed>
    <ContentType>social</ContentType>
    <CreateDate>2023-06-05T22:56:17</CreateDate>
    <NodeName Default="LinkedIn" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[[
  {
    "key": "48633e11-779c-48b7-bb01-891407cb7a2e",
    "mediaKey": "74d4ab47-468a-4ac8-978e-016ae39be505"
  }
]]]></Value>
    </icon>
    <link>
      <Value><![CDATA[https://www.linkedin.com/in/thomasgrantukdesign/]]></Value>
    </link>
    <text>
      <Value><![CDATA[@Thomas Grant]]></Value>
    </text>
  </Properties>
</Content>