<?xml version="1.0" encoding="utf-8"?>
<Content Key="647a2749-ecd9-4662-af66-9dae5716201b" Alias="Mobile-first Development" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/MobileFirstDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T21:01:29</CreateDate>
    <NodeName Default="Mobile-first Development" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#ffe599]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Proficient in utilizing mobile-first development principles to design and develop responsive websites, ensuring seamless user experiences on mobile devices and progressively enhancing the design for larger screens.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "7155579f-f475-421b-95a9-a9ad125b31bc",
    "mediaKey": "bc53fb62-5d85-4818-a480-2684647d60b6"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Mobile-first Development]]></Value>
    </title>
  </Properties>
</Content>