<?xml version="1.0" encoding="utf-8"?>
<Content Key="93cd77a1-2f8c-4474-add1-8d630e299e35" Alias="MSSQL" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MSSQL</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-12T13:00:23</CreateDate>
    <NodeName Default="MSSQL" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#cfe2f3]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[Skilled in manipulating databases in a safe and organized manner, ensuring efficient data management and retrieval.]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "00c69669-0921-43c4-a529-bc813ec7d548",
    "mediaKey": "a1600acd-d925-4351-a412-b8ea6c7e2182"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[MS SQL]]></Value>
    </title>
  </Properties>
</Content>