<?xml version="1.0" encoding="utf-8"?>
<Content Key="94b9f445-f8ae-45ca-8bf3-f10c2eea7199" Alias="MSSQL" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/MSSQL</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:47:17</CreateDate>
    <NodeName Default="MSSQL" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#7fba00]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Skilled in manipulating databases in a safe and organized manner, ensuring efficient data management and retrieval.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "1e7d4e2a-ff6d-46c5-93f5-b0746ed918a7",
    "mediaKey": "a1600acd-d925-4351-a412-b8ea6c7e2182"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[MSSQL]]></Value>
    </title>
  </Properties>
</Content>