<?xml version="1.0" encoding="utf-8"?>
<Content Key="210f01be-a91d-42ae-9892-82a541176d39" Alias="NopCommerce" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/NopCommerce</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:56:45</CreateDate>
    <NodeName Default="NopCommerce" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#25c8e0]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized NopCommerce to deliver highly functional and dynamic e-commerce sites, ensuring seamless online shopping experiences for users.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "13fad7cd-5e09-4e4c-890f-6abb33ceb08c",
    "mediaKey": "e4b4ba1c-9509-4c00-9182-db6c2ebec686"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[NopCommerce]]></Value>
    </title>
  </Properties>
</Content>