<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f433a9f-79e4-4085-82aa-22b0524ec1cf" Alias="nopCommerce" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/nopCommerce</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-15T20:24:51</CreateDate>
    <NodeName Default="nopCommerce" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#25c8e0]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized NopCommerce to deliver highly functional and dynamic e-commerce sites, ensuring seamless online shopping experiences for users.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "e61d4bbe-f1a1-4ef1-bdfa-cfe1c4f96044",
    "mediaKey": "e4b4ba1c-9509-4c00-9182-db6c2ebec686"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[nopCommerce]]></Value>
    </title>
  </Properties>
</Content>