<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c42ed55-964c-43f5-aa8a-7195df2e124a" Alias="Proactive Learning" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ProactiveLearning</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:48:44</CreateDate>
    <NodeName Default="Proactive Learning" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Proactive Learning]]></Value>
    </title>
  </Properties>
</Content>