<?xml version="1.0" encoding="utf-8"?>
<Content Key="9233b75b-b82e-438f-b76f-e4a323f760e3" Alias="Problem-Solving" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ProblemSolving</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:47:15</CreateDate>
    <NodeName Default="Problem-Solving" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Problem-Solving]]></Value>
    </title>
  </Properties>
</Content>