<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b544929-73d6-4f7a-8629-79f3618b4442" Alias="Project Categories" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ProjectCategories</Path>
    <Trashed Parent="39877ca4-847d-4194-8d2a-abe55cbe95d0">true</Trashed>
    <ContentType>projectCategory</ContentType>
    <CreateDate>2023-06-06T22:32:50</CreateDate>
    <NodeName Default="Project Categories" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>