<?xml version="1.0" encoding="utf-8"?>
<Content Key="62e87511-c14f-4100-95b5-f9f711b8d125" Alias="Project Management and Communication" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ProjectManagementAndCommunication</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:44:28</CreateDate>
    <NodeName Default="Project Management and Communication" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Project Management and Communication]]></Value>
    </title>
  </Properties>
</Content>