<?xml version="1.0" encoding="utf-8"?>
<Content Key="6922f971-2b0a-4aef-97e8-f3a760fd2283" Alias="Sass" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Sass</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-18T20:55:24</CreateDate>
    <NodeName Default="Sass" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#cc6699]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Utilized Sass within projects to efficiently develop site styles, allowing for easier management and customization of CSS.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "7d911c2d-bde9-4332-a6d9-49bea57ec6a8",
    "mediaKey": "7783e6da-4375-4575-930a-fc619aaa039a"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Sass]]></Value>
    </title>
  </Properties>
</Content>