<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc94bcc6-adce-4d54-bd35-434ee2649178" Alias="Skills" Level="2">
  <Info>
    <Parent Key="39877ca4-847d-4194-8d2a-abe55cbe95d0">Thomas Grant</Parent>
    <Path>/ThomasGrant/Skills</Path>
    <Trashed>false</Trashed>
    <ContentType>skills</ContentType>
    <CreateDate>2023-03-09T16:18:01</CreateDate>
    <NodeName Default="Skills" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c98d5b4f-2713-496a-b701-eaee7815578a">Skills</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <navbarIsShown>
      <Value><![CDATA[1]]></Value>
    </navbarIsShown>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Skills]]></Value>
    </title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>