<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8411d5c-b86d-460a-88dc-5b6c0b87542d" Alias="Socials (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Socials1</Path>
    <Trashed Parent="39877ca4-847d-4194-8d2a-abe55cbe95d0">true</Trashed>
    <ContentType>socialList</ContentType>
    <CreateDate>2023-06-05T20:13:21</CreateDate>
    <NodeName Default="Socials (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>