<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3d6d8b3-cee1-4bbd-acfa-814f7090804a" Alias="Teamworking" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Teamworking</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:42:45</CreateDate>
    <NodeName Default="Teamworking" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Teamworking]]></Value>
    </title>
  </Properties>
</Content>