<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3cbc748-fc7a-45c9-a04a-b85797bb3741" Alias="Testing and Bug Tracking" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestingAndBugTracking</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:43:16</CreateDate>
    <NodeName Default="Testing and Bug Tracking" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Testing and Bug Tracking]]></Value>
    </title>
  </Properties>
</Content>