<?xml version="1.0" encoding="utf-8"?>
<Content Key="39877ca4-847d-4194-8d2a-abe55cbe95d0" Alias="Thomas Grant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThomasGrant</Path>
    <Trashed>false</Trashed>
    <ContentType>master</ContentType>
    <CreateDate>2023-03-09T16:17:16</CreateDate>
    <NodeName Default="Thomas Grant" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a2f159a-a321-4d62-a009-b01d8e6ef58f">Master</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[umb://document/2717cee648594784a7c63f970e9c010d]]></Value>
    </contactForm>
    <developerMode>
      <Value><![CDATA[0]]></Value>
    </developerMode>
    <email>
      <Value><![CDATA[ThomasGrant0801@gmail.com]]></Value>
    </email>
    <errorPage>
      <Value><![CDATA[]]></Value>
    </errorPage>
    <icon>
      <Value><![CDATA[[
  {
    "key": "b9633a28-9ad8-4e41-9cbd-d494eb472011",
    "mediaKey": "79a89b6b-62d2-492c-9882-ba4486f91268"
  }
]]]></Value>
    </icon>
    <invertedIcon>
      <Value><![CDATA[[
  {
    "key": "a5a203d7-84ce-468e-b53a-33e302ab9f9a",
    "mediaKey": "c2edfb83-d3d2-40ca-8d6f-5faaaadf0a0b"
  }
]]]></Value>
    </invertedIcon>
    <notificationSender>
      <Value><![CDATA[noreply@thomasgrant.uk]]></Value>
    </notificationSender>
    <phoneNumber>
      <Value><![CDATA[07305401422]]></Value>
    </phoneNumber>
    <socials>
      <Value><![CDATA[umb://document/e8e83795ae8b4a9ebef93a898b9fb668]]></Value>
    </socials>
    <testingEmail>
      <Value><![CDATA[ThomasGrant0801@gmail.com]]></Value>
    </testingEmail>
    <thankyouPage>
      <Value><![CDATA[]]></Value>
    </thankyouPage>
    <umbracointernalredirectid>
      <Value><![CDATA[umb://document/46eee2f4ff674a5b86fde25883e855e6]]></Value>
    </umbracointernalredirectid>
  </Properties>
</Content>