<?xml version="1.0" encoding="utf-8"?>
<Content Key="62159810-3fdd-4c0b-bcfa-4cd6880740c3" Alias="Umbraco CMS Customization" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/UmbracoCMSCustomization</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:43:33</CreateDate>
    <NodeName Default="Umbraco CMS Customization" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Umbraco CMS Customization]]></Value>
    </title>
  </Properties>
</Content>