<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2466bfa-a16b-4185-9096-2f8621f20cb3" Alias="Umbraco" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-12T12:59:43</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#2986cc]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[Proficient in using Umbraco as the main CMS to deliver dynamic websites for clients, ensuring seamless content management and customization.]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "e807c199-06db-411b-9b35-e37190f18da3",
    "mediaKey": "093ba00f-6cc9-4b8e-b56d-c2d32fd3801b"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Umbraco ]]></Value>
    </title>
  </Properties>
</Content>