<?xml version="1.0" encoding="utf-8"?>
<Content Key="366eb3d4-3714-4e52-b4c0-4a2f29f2a87e" Alias="Unity" Level="3">
  <Info>
    <Parent Key="fc94bcc6-adce-4d54-bd35-434ee2649178">Skills</Parent>
    <Path>/ThomasGrant/Skills/Unity</Path>
    <Trashed>false</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-15T20:27:24</CreateDate>
    <NodeName Default="Unity" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[#ffffff]]></Value>
    </backgroundColour>
    <description>
      <Value><![CDATA[<p>Developed interactive environments and complex functionality using Unity, leveraging object-oriented programming principles for efficient and engaging experiences.</p>]]></Value>
    </description>
    <icon>
      <Value><![CDATA[[
  {
    "key": "450955e6-b6bb-454a-967c-0d80d912f33c",
    "mediaKey": "bd00e7e9-3866-4424-ad63-65f1d3c69b2f"
  }
]]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Unity]]></Value>
    </title>
  </Properties>
</Content>