<?xml version="1.0" encoding="utf-8"?>
<Content Key="8937c0c9-e6e3-4deb-b31a-dab71b382493" Alias="User Interface (UI) Design Collaboration" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/UserInterfaceUIDesignCollaboration</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:41:30</CreateDate>
    <NodeName Default="User Interface (UI) Design Collaboration" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[User Interface (UI) Design Collaboration]]></Value>
    </title>
  </Properties>
</Content>