<?xml version="1.0" encoding="utf-8"?>
<Content Key="6285308b-a903-40d0-891c-65cd61d829ec" Alias="Web Applications" Level="3">
  <Info>
    <Parent Key="c7299931-a09b-40ae-b6ce-1ddb7e07905e">Categories</Parent>
    <Path>/ThomasGrant/Categories/WebApplications</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-06-06T16:55:07</CreateDate>
    <NodeName Default="Web Applications" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <colour>
      <Value><![CDATA[]]></Value>
    </colour>
  </Properties>
</Content>