<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f516b8f-d974-44b7-95a2-e9515b2614bc" Alias="Web Accessibility" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/WebAccessibility</Path>
    <Trashed Parent="fc94bcc6-adce-4d54-bd35-434ee2649178">true</Trashed>
    <ContentType>skill</ContentType>
    <CreateDate>2023-06-08T08:43:01</CreateDate>
    <NodeName Default="Web Accessibility" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <title>
      <Value><![CDATA[Web Accessibility]]></Value>
    </title>
  </Properties>
</Content>