@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@using ThomasGrant.ViewModels;
@{

}

<div class="Block SplitColumn">
    <div class="Breakpoint-Wrap">
        @Html.Partial("Contact Form", new ContactFormViewModel())
    </div>
</div>
